<%# todo: center + footer %>
<div class="container-content mt-8 stack-sm">
    <h1 class="heading-giga">MyD&D</h1>
    <p>Welcome to MyD&D - the site which lets you create campaigns and adventures, as well as view and save 
    spells, magic items, monsters and more.</p>
    <p>It also includes support for <a href="https://www.markdownguide.org/basic-syntax/">markdown</a> to allow you to format notes and comments.
    <p>This site is still under development. You're free to sign up and test it out, but parts of the site may change suddenly.</p>
</div>