<div class="container m-5">
    <h1>MyD&D</h1>
    <p>Welcome to MyD&D - the site which lets you create campaigns and adventures, as well as view and save 
    spells, magic items, monsters and more.</p>
    <p>This site is still under development.</p>
</div>